.card {
  width: 5rem;
}

.otherPlayers {
  width: 100%;
  text-align: center;
}

.previousWinner {
  background-color: darkseagreen;
}

.gameWinner {
  background-color: darkseagreen;
}

.gameLoser {
  background-color: #fc6565;
}
